.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% der Bildschirmhöhe */
}

.h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titel {
  background-color: gray;
  height: 10vh;
  width: 148.1%;
}

.game-container {
  margin-top: 10px;
  position: relative;
  width: 400px;
  height: 500px;
  background-color: skyblue;
  border: 2px solid #000;
  overflow: hidden;
}

.bird {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  width: 50px;
  height: 50px;
  background-color: yellow;
}

.obstacle {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 200px;
  background-color: green;
  z-index: 1;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  color: #fff;
  z-index: 1000;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline;
  margin-right: 20px;
}

.navigation ul li a {
  color: #fff;
  text-decoration: none;
}
